
$font-body :  'Nunito Sans', sans-serif;
$font-title : 'Playfair Display', serif;


$font-size-base: 0.875rem; // Assumes the browser default, typically `16px`
$font-size-lg: 40px;
$font-size-sm: 3.5em;
$font-size-xs: 24px;
$font-size-xxs: 14px;


$font-normal: 400;
$font-semi-bold: 600;
$font-bold: 700;


.font-normal {
    font-weight: $font-normal;
}

body {
    font-family: $font-body;
    font-weight: $font-normal;
}

h2, h3 {
    font-family: $font-title;
    font-weight: $font-normal;
}
h1, h4, h5, h6 {
    font-family: $font-body;
    font-weight: $font-semi-bold;
}

h2 {
    font-size: $font-size-lg;
}

h3 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6, .h6 {
    font-size: 18px;
    color: #242A3A;
}

.font-xs {
    font-size: $font-size-xxs;  
}